<!DOCTYPE html>
<html lang="en">
  <%- include('../../layout/head') %>
  <body>
    <%- include('../../layout/header') %>
    <h3>Search Result</h3>
    <div class="container">
      <main>
        <% booksArray.forEach(book => { %>
          <section>
            <div class="bookDiv" data_id="<%= book.id %>">            
              <div class="contentDiv">
                <h4>Title: <%= book.title %></h4>
                <h4>Author: <%= book.author %></h4>
                <h4>Description:</h4>
                <p class="description">
                  <%= book.description %>
                </p>
                <h4 class="isbn">ISBN: <%= book.isbn %></h4>
              </div>
              <div class="imageDiv">
                <h4>Book Cover</h4>
                <img src="<%= book.image_url %>" alt="No Image Available">
              </div>
            </div>
            <form action="/select" method="post" class="resultForm">
              <input type="hidden" name="title" value='<%= book.title %>'>
              <input type="hidden" name="author" value='<%= book.author %>'>
              <input type="hidden" name="description" value='<%= book.description %>'>
              <input type="hidden" name="image_url" value='<%= book.image_url %>'>
              <input type="hidden" name="isbn" value='<%= book.isbn %>'>
              <button>Select this Book</button>
            </form>
          </section>
        <% }); %>
      </main>
    </div>   
    <%- include('../../layout/footer') %>
  </body>
</html>
